/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #b7d4e1;
}

h1 {
  color: #333;
}

h2 {
  color: #777;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
